body {
  margin: 0;
  /* display: flex; */
  /* flex-flow: column wrap; */
  /* justify-content: center; */

  /* background-color: #f0a04b; */
  font-size: 18px;

  /* overflow-y: scroll; */
  overflow-x: hidden;
  width: 100%;


}

.container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0;
}

.map {
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: -3.1% 0 1rem 0;
  background: red;
  padding: 4% 0% 2% 0;
  box-sizing: content-box;
}

.map h1{
  color: #fff;
}

.new {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 8%;
  width: 100%;

}

#taskTitle{
  width: 100%;
  margin: 0 0 0 3%;
  padding: 0 0 0 1%;
  /* display: flex;
  flex-flow: row nowrap;
  align-items: center; */

}
::-webkit-input-placeholder{
  font-size: 1.1rem;
  /* padding: 2em 0 0 0; */
  margin-top: 20%;
}

#addTaskButton {
  font-size: 20px;
  margin: 0 3% 0 0;
  text-decoration: none;
  background-color: gray;
  color: #000;
  /* border-radius:  0 30px 30px 0; */
  padding: 1% 3%;
  
}

/* F */
/* I  */
/* L */
/* T */
/* E */
/* R */

#filter{
  display: grid;
  grid-template-columns: 50% 50%;
  /* flex-flow: row nowrap; */
  justify-content: center;
  margin: 0 10%;
  width: 94%;
  background: #000;
}

#filterForCompletedTasks{
  display: flex;  
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  padding: 2% 3%;
  /* border-radius: 10px; */
  /* border: #000 solid 1px; */
  background-color: rgb(94, 252, 94);
}



#filterForNotCompletedTasks{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 22px;
  padding: 2% 3%;
  /* border-radius: 10px; */
  /* border: #000 solid 1px; */
  background-color: rgb(255, 129, 129);
}




/* T */
/* A */
/* S */
/* K */
/* S */

.tasks {
  display: grid;
  grid-template-columns: 100%;
  margin: 0.1% 0 0 0;
}

.task {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  /* background: lightgray 100%; */
  padding: 0;
  margin: 0;
}

.gray{
  background-color: rgb(244, 244, 244);
}
.white{
  background-color: #fff;
}


.check{
  /* margin: 2% 0 0 0; */
  /* border: 2px solid; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check i{
  display: none;
}

.label{
  /* border: 2px solid; */
  padding: 0;
  margin:  0.5% 0 0.5% 0;
  font-weight: 100;
  font-family: 'Arial' sans-serif;
  font-size: larger;

}

.delete{
  /* border: 2px solid; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .check i {
  padding: 60% 0 0 15%;
}

.label {
  font-size: 20px;
  padding: 0 0 0 2%;
  margin: 2% 0 3% 2%;

} */






